<div class="container">

  <div class="row">
    <div class="col s12">

      <div class="card-panel">
        <div class="card-content">
          <span class="card-title"><h5>Producto</h5></span>
          <form [formGroup]="productoForm" (ngSubmit)="submitForm(productoForm.value)">
            <div class="row">
              <div class="input-field col s6">
                <input id="codigo" type="text" class="validate" [formControl]="productoForm.controls['codigo']">
                <label class="active" for="codigo">Código</label>
              </div>
              <div class="input-field col s6">
                <input id="descripcion" type="text" class="validate" [formControl]="productoForm.controls['descripcion']">
                <label class="active" for="descripcion">Descripcion</label>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s6">
                <input id="precio" type="text" class="validate" [formControl]="productoForm.controls['precio']">
                <label class="active" for="precio">Precio</label>
              </div>
              <div class="input-field col s6">
                <input id="stock" type="text" class="validate" [formControl]="productoForm.controls['stock']">
                <label class="active" for="stock">Stock</label>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s12">
                <textarea id="detalles" type="email" class="validate materialize-textarea" [formControl]="productoForm.controls['detalles']"></textarea>
                <label class="active" for="detalles">Detalles</label>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s12">
                <textarea id="pie" type="text" class="validate materialize-textarea" [formControl]="productoForm.controls['pie']"></textarea>
                <label class="active" for="pie">Pie</label>
              </div>
            </div>

            <div class="card-action">
                <button type="submit" class="btn waves-effect waves-light">
                  Guardar
                </button>

                <a class="btn waves-effect waves-light" (click)="irAlListado()">
                  Cancelar
                </a>
            </div>

          </form>

        </div>

      </div>

    </div>
  </div>

</div>
