/* Master Styles */
body {
  color: #888;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.app-toolbar-menu {
  margin-right: 15px;
}

md-sidenav-layout {
  height: 100%;
}

.app-content {
  padding: 0.5%;
}

span[md-prefix] .app-input-icon {
  font-size: 1.3em;
  margin-right: 10px;
}
