

<div class="container">

  <div class="row">
    <div class="col s12">

      <div class="card-panel">
        <div class="card-content">
          <span class="card-title"><h5>Clientes</h5></span>
          <div class="input-field right">
            <input id="icon_search" type="text" class="validate">
            <label for="icon_search">Buscar Cliente</label>
          </div>

          <table class="highlight">
            <thead>
              <tr>
                  <th data-field="id">Id</th>
                  <th data-field="nombre">Nombre</th>
                  <th data-field="apellido">Apellido</th>
                  <th data-field="email">E-Mail</th>
                  <th data-field="telefono">Telefono</th>
                  <th data-field="fechaNacimiento">Fec. Nacimiento</th>
              </tr>
            </thead>

            <tbody>
              <tr *ngFor="#cliente of clientes">
                  <td>{{cliente.id}}</td>
                  <td>{{cliente.nombre}}</td>
                  <td>{{cliente.apellido}}</td>
                  <td>{{cliente.email}}</td>
                  <td>{{cliente.telefono}}</td>
                  <td>{{cliente.fechaNacimiento | date:"MM/dd/yyyy" }}</td>
              </tr>
            </tbody>
          </table>

          <ul class="pagination center">
            <li class="disabled"><a href="#!"><i class="material-icons">chevron_left</i></a></li>
            <li class="active"><a href="#!">1</a></li>
            <li class="waves-effect"><a href="#!">2</a></li>
            <li class="waves-effect"><a href="#!">3</a></li>
            <li class="waves-effect"><a href="#!">4</a></li>
            <li class="waves-effect"><a href="#!">5</a></li>
            <li class="waves-effect"><a href="#!"><i class="material-icons">chevron_right</i></a></li>
          </ul>
        </div>
      </div>

    </div>
  </div>

</div>


<div class="fixed-action-btn" style="bottom: 60px; right: 24px;">
  <a class="btn-floating btn-large" [routerLink]="['Cliente', {'id':null}]">
    <i class="large material-icons">add</i>
  </a>
</div>
