
  <!-- navbar -->
  <nav>
    <div class="nav-wrapper blue" style="padding-left: 15px;">
      <a [routerLink]="['Dashboard']" class="brand-logo">ngSTORE</a>
      <a href="#" data-activates="mobile-nav" class="button-collapse"><i class="material-icons">menu</i></a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="#!">Ventas</a></li>
        <li><a [routerLink]="['Clientes']">Clientes</a></li>
        <li><a href="#!">Productos</a></li>
        <li><a href="#!">Compras</a></li>
        <li><a href="#!">Proveedores</a></li>
        <li>
            <a href="#!" class="dropdown-button" data-activates="dropdown-user">
              <i class="material-icons">perm_identity</i>
            </a>
        </li>
      </ul>
      <ul class="side-nav" id="mobile-nav">
        <li><a [routerLink]="['Dashboard']">Dashboard</a></li>
        <li><a href="#!">Ventas</a></li>
        <li><a [routerLink]="['Clientes']">Clientes</a></li>
        <li><a href="#!">Productos</a></li>
        <li><a href="#!">Compras</a></li>
        <li><a href="#!">Proveedores</a></li>
      </ul>
    </div>
  </nav>

  <!-- Dropdown Structure -->
  <ul id="dropdown-user" class="dropdown-content">
    <li><a href="#!">Perfil</a></li>
    <li><a href="#!">Salir</a></li>
  </ul>

  <!-- app-content -->
  <router-outlet></router-outlet>
